div.big_div {
	background-image: url("task_master_back.png");
}

div.collection {
	border-style: solid;
    border-color: black black;
}

h4.ng-binding {
	text-align: center;
	font-weight: bold;
	font-family: 'Comic Sans MS';
	text-decoration : underline;
}

div.nav_wrapper {
	font-size: 2.1rem;
}

a.collection-item {
	font-weight: bold;
}

div.buttone {
	text-align: center;
}

div.section-2 {
	text-align: center;
	font-weight: bold;
	font-family: 'Comic Sans MS';
}

h5 {
	text-decoration : underline;
}
